client/scr/Service References/services.ingenie.prompter/Prompter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://replica/ig/services/Prompter.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://replica/ig/services/Prompter.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://replica/ig/services/Prompter.asmx">
      <s:element name="Prepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTemplateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ahDinamicValues" type="tns:ArrayOfDynamicValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDynamicValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DynamicValue" nillable="true" type="tns:DynamicValue" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DynamicValue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PrepareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrepareResult" type="tns:PrompterPrepareResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrompterPrepareResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nTemplatesHashCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="aSplittedText" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Start">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartResponse">
        <s:complexType />
      </s:element>
      <s:element name="Stop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopResponse">
        <s:complexType />
      </s:element>
      <s:element name="OnOffScreenGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnOffScreenGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnOffScreenGetResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RollSpeedSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nSpeed" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RollSpeedSetResponse">
        <s:complexType />
      </s:element>
      <s:element name="RestartFrom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nLine" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RestartFromResponse">
        <s:complexType />
      </s:element>
      <s:element name="Init">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nClientBrowserID" type="s:unsignedLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType />
      </s:element>
      <s:element name="ItemsUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aItems" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:unsignedLong" />
          <s:element minOccurs="0" maxOccurs="1" name="sPreset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sCurrentClass" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dtStatusChanged" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="eStatus" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="sInfo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Idle" />
          <s:enumeration value="Prepared" />
          <s:enumeration value="Started" />
          <s:enumeration value="Stopped" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ItemsUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemsUpdateResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cItem" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemPrepare">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cItem" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemPrepareResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemPrepareResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemStart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cItem" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemStartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemStartResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemStop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cItem" type="tns:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemStopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemStopResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sEx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteErrorResponse">
        <s:complexType />
      </s:element>
      <s:element name="WriteNotice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteNoticeResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeviceDownStreamKeyerDisable">
        <s:complexType />
      </s:element>
      <s:element name="DeviceDownStreamKeyerDisableResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeviceDownStreamKeyerEnable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nLevel" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="bInternal" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeviceDownStreamKeyerEnableResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PrepareSoapIn">
    <wsdl:part name="parameters" element="tns:Prepare" />
  </wsdl:message>
  <wsdl:message name="PrepareSoapOut">
    <wsdl:part name="parameters" element="tns:PrepareResponse" />
  </wsdl:message>
  <wsdl:message name="StartSoapIn">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="StartSoapOut">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="StopSoapIn">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="StopSoapOut">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="OnOffScreenGetSoapIn">
    <wsdl:part name="parameters" element="tns:OnOffScreenGet" />
  </wsdl:message>
  <wsdl:message name="OnOffScreenGetSoapOut">
    <wsdl:part name="parameters" element="tns:OnOffScreenGetResponse" />
  </wsdl:message>
  <wsdl:message name="RollSpeedSetSoapIn">
    <wsdl:part name="parameters" element="tns:RollSpeedSet" />
  </wsdl:message>
  <wsdl:message name="RollSpeedSetSoapOut">
    <wsdl:part name="parameters" element="tns:RollSpeedSetResponse" />
  </wsdl:message>
  <wsdl:message name="RestartFromSoapIn">
    <wsdl:part name="parameters" element="tns:RestartFrom" />
  </wsdl:message>
  <wsdl:message name="RestartFromSoapOut">
    <wsdl:part name="parameters" element="tns:RestartFromResponse" />
  </wsdl:message>
  <wsdl:message name="InitSoapIn">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="InitSoapOut">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="ItemsUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:ItemsUpdate" />
  </wsdl:message>
  <wsdl:message name="ItemsUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:ItemsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ItemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ItemDelete" />
  </wsdl:message>
  <wsdl:message name="ItemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ItemDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ItemPrepareSoapIn">
    <wsdl:part name="parameters" element="tns:ItemPrepare" />
  </wsdl:message>
  <wsdl:message name="ItemPrepareSoapOut">
    <wsdl:part name="parameters" element="tns:ItemPrepareResponse" />
  </wsdl:message>
  <wsdl:message name="ItemStartSoapIn">
    <wsdl:part name="parameters" element="tns:ItemStart" />
  </wsdl:message>
  <wsdl:message name="ItemStartSoapOut">
    <wsdl:part name="parameters" element="tns:ItemStartResponse" />
  </wsdl:message>
  <wsdl:message name="ItemStopSoapIn">
    <wsdl:part name="parameters" element="tns:ItemStop" />
  </wsdl:message>
  <wsdl:message name="ItemStopSoapOut">
    <wsdl:part name="parameters" element="tns:ItemStopResponse" />
  </wsdl:message>
  <wsdl:message name="WriteErrorSoapIn">
    <wsdl:part name="parameters" element="tns:WriteError" />
  </wsdl:message>
  <wsdl:message name="WriteErrorSoapOut">
    <wsdl:part name="parameters" element="tns:WriteErrorResponse" />
  </wsdl:message>
  <wsdl:message name="WriteNoticeSoapIn">
    <wsdl:part name="parameters" element="tns:WriteNotice" />
  </wsdl:message>
  <wsdl:message name="WriteNoticeSoapOut">
    <wsdl:part name="parameters" element="tns:WriteNoticeResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceDownStreamKeyerDisableSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceDownStreamKeyerDisable" />
  </wsdl:message>
  <wsdl:message name="DeviceDownStreamKeyerDisableSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceDownStreamKeyerDisableResponse" />
  </wsdl:message>
  <wsdl:message name="DeviceDownStreamKeyerEnableSoapIn">
    <wsdl:part name="parameters" element="tns:DeviceDownStreamKeyerEnable" />
  </wsdl:message>
  <wsdl:message name="DeviceDownStreamKeyerEnableSoapOut">
    <wsdl:part name="parameters" element="tns:DeviceDownStreamKeyerEnableResponse" />
  </wsdl:message>
  <wsdl:portType name="PrompterSoap">
    <wsdl:operation name="Prepare">
      <wsdl:input message="tns:PrepareSoapIn" />
      <wsdl:output message="tns:PrepareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input message="tns:StartSoapIn" />
      <wsdl:output message="tns:StartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input message="tns:StopSoapIn" />
      <wsdl:output message="tns:StopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnOffScreenGet">
      <wsdl:input message="tns:OnOffScreenGetSoapIn" />
      <wsdl:output message="tns:OnOffScreenGetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RollSpeedSet">
      <wsdl:input message="tns:RollSpeedSetSoapIn" />
      <wsdl:output message="tns:RollSpeedSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RestartFrom">
      <wsdl:input message="tns:RestartFromSoapIn" />
      <wsdl:output message="tns:RestartFromSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input message="tns:InitSoapIn" />
      <wsdl:output message="tns:InitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemsUpdate">
      <wsdl:input message="tns:ItemsUpdateSoapIn" />
      <wsdl:output message="tns:ItemsUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemDelete">
      <wsdl:input message="tns:ItemDeleteSoapIn" />
      <wsdl:output message="tns:ItemDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemPrepare">
      <wsdl:input message="tns:ItemPrepareSoapIn" />
      <wsdl:output message="tns:ItemPrepareSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemStart">
      <wsdl:input message="tns:ItemStartSoapIn" />
      <wsdl:output message="tns:ItemStartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemStop">
      <wsdl:input message="tns:ItemStopSoapIn" />
      <wsdl:output message="tns:ItemStopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteError">
      <wsdl:input message="tns:WriteErrorSoapIn" />
      <wsdl:output message="tns:WriteErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteNotice">
      <wsdl:input message="tns:WriteNoticeSoapIn" />
      <wsdl:output message="tns:WriteNoticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerDisable">
      <wsdl:input message="tns:DeviceDownStreamKeyerDisableSoapIn" />
      <wsdl:output message="tns:DeviceDownStreamKeyerDisableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerEnable">
      <wsdl:input message="tns:DeviceDownStreamKeyerEnableSoapIn" />
      <wsdl:output message="tns:DeviceDownStreamKeyerEnableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrompterSoap" type="tns:PrompterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Prepare">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/Prepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/Start" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnOffScreenGet">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/OnOffScreenGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollSpeedSet">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/RollSpeedSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartFrom">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/RestartFrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsUpdate">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemDelete">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemPrepare">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemPrepare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemStart">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemStop">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemStop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteError">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/WriteError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteNotice">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/WriteNotice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerDisable">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/DeviceDownStreamKeyerDisable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerEnable">
      <soap:operation soapAction="http://replica/ig/services/Prompter.asmx/DeviceDownStreamKeyerEnable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrompterSoap12" type="tns:PrompterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Prepare">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/Prepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnOffScreenGet">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/OnOffScreenGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollSpeedSet">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/RollSpeedSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartFrom">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/RestartFrom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemsUpdate">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemsUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemDelete">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemPrepare">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemPrepare" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemStart">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemStop">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/ItemStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteError">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/WriteError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteNotice">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/WriteNotice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerDisable">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/DeviceDownStreamKeyerDisable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeviceDownStreamKeyerEnable">
      <soap12:operation soapAction="http://replica/ig/services/Prompter.asmx/DeviceDownStreamKeyerEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prompter">
    <wsdl:port name="PrompterSoap" binding="tns:PrompterSoap">
      <soap:address location="http://prompter.scr.replica/ig/services/Prompter.asmx" />
    </wsdl:port>
    <wsdl:port name="PrompterSoap12" binding="tns:PrompterSoap12">
      <soap12:address location="http://prompter.scr.replica/ig/services/Prompter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>