client/replica/Service References/services.preferences/Preferences.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://replica/services/Preferences.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://replica/services/Preferences.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://replica/services/Preferences.asmx">
      <s:element name="ReplicaGet">
        <s:complexType />
      </s:element>
      <s:element name="ReplicaGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReplicaGetResult" type="tns:Preferences" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Preferences">
        <s:complexContent mixed="false">
          <s:extension base="tns:Clients">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="nFramesMinimum" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="nFrequencyOfOccurrenceMax" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="sPreviewsPath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sTrailersPath" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sLocale" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="bContextMenuDeleteSince" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="bStatisticsRAOVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="bStatisticsMessagesVisible" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Clients" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReplicaGetSoapIn">
    <wsdl:part name="parameters" element="tns:ReplicaGet" />
  </wsdl:message>
  <wsdl:message name="ReplicaGetSoapOut">
    <wsdl:part name="parameters" element="tns:ReplicaGetResponse" />
  </wsdl:message>
  <wsdl:portType name="PreferencesSoap">
    <wsdl:operation name="ReplicaGet">
      <wsdl:input message="tns:ReplicaGetSoapIn" />
      <wsdl:output message="tns:ReplicaGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PreferencesSoap" type="tns:PreferencesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReplicaGet">
      <soap:operation soapAction="http://replica/services/Preferences.asmx/ReplicaGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PreferencesSoap12" type="tns:PreferencesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReplicaGet">
      <soap12:operation soapAction="http://replica/services/Preferences.asmx/ReplicaGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Preferences">
    <wsdl:port name="PreferencesSoap" binding="tns:PreferencesSoap">
      <soap:address location="http://replica/services/Preferences.asmx" />
    </wsdl:port>
    <wsdl:port name="PreferencesSoap12" binding="tns:PreferencesSoap12">
      <soap12:address location="http://replica/services/Preferences.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>